@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bitter:ital@1&family=Noto+Sans+KR:wght@100&family=Ramaraja&display=swap');

*{
    font-family: 'Noto Sans KR', sans-serif;
}

.famous-saying{
    font-family: 'Bitter', serif;
    font-family: 'Noto Sans KR', sans-serif;
    font-family: 'Ramaraja', serif;
}

.bi{
    padding-right: 8px;
}

.top{
    position: relative;
}

.banner{
    /* padding-top: 56px; */
    position: fixed;
    margin-top: 56px;
}

.row{
    padding-bottom: 2em;
    border-bottom: solid thin gray;
}

.courses{
    padding-top: 60px;
    font-weight: bold;
    text-align: center;
}

.card{
    margin-top: 5%;
}

footer{
    /* background: gray; */
    /* color: white; */
    /* padding: 10px; */
    text-align: center;
  }